<h1>Welcome To My Info Page!</h1>
<p>DEVCON's RailsGirls Event is Awesome!</p>
</br>

<p> I am a stay-at-home mom at the moment. I joined DevCon's RailsGirls seminar to gear up myself
to pursue a career in web development! Yey! </p>



